@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Oswald', sans-serif;
font-size: 20px;
}

body {
background-color: #c4ac94;
}

/*ESTILOS DEL HEADER*/

.header {
    background-color: #deb55e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

/*ESTILOS DEL LOGO*/

.header .logo {
cursor: pointer;
}


.header .logo img {
height: 70px;
width: auto; 
transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

/*ESTLOS DE LA BARRA DE NAVEGACION*/

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}


.header .nav-links li:hover {
transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color:whitesmoke;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #824b21;
}

/*ESTILOS DEL BOTON "SOBRE NOSOTROS"*/

.header .btn button {
    font-weight: 700;
    color: #824b21;
    padding: 9px  25px;
    background-color: whitesmoke;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: whitesmoke;
    color:#824b21 ;
    transform: scale(1.1);
}